{% extends "template.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% if error %}
		<div class="alert alert-danger" role="alert">
			No profile for {{ details['username'] }}.
		</div>
	{% else %}
	<div class="page-header">
  		<h1>{{ details['name'] }} <small>Trainer</small></h1>
	</div>
	<h3>Tutorials written - {{ details['tutorialcount'] }}</h3>
	<ul class="list-group">
		{% for tutorial in details['tutorials'] %}
			<li class="list-group-item">
				<a href="{{ tutorial.link }}">{{ tutorial.title }}</a>
			</li>			
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock %}