{% extends "template.html" %}
{% block content %}

	{% if error %}
		<div class="alert alert-danger" role="alert">
			No profile for {{ details['username'] }}.
		</div>
	{% else %}
	<div class="page-header">
  		<h1>{{ details['name'] }} <small>Trainer</small></h1>
	</div>
	<h3>Tutorials written - {{ details['tutorialcount'] }}</h3>
	<ul class="list-group">
		{% for tutorial in details['tutorials'] %}
			<li class="list-group-item">
				<a href="{{ tutorial.link }}">{{ tutorial.title }}</a>
				<p>Published : {{ tutorial.date }}</p>
			</li>			
		{% endfor %}
	</ul>
	{% endif %}

{% endblock %}